In [1]:
import os
import pandas as pd

In [2]:
fifteen_path = os.path.join('data','csv','happiness_2015.csv')
sixteen_path = os.path.join('data','csv','happiness_2016.csv')
seventeen_path = os.path.join('data','csv','happiness_2017.csv')
country_path = os.path.join('Data','csv','countries.csv')
country_location_path = os.path.join('Data','csv','countries_location.csv')

In [4]:
happiness_15_df = pd.read_csv(fifteen_path)
happiness_16_df = pd.read_csv(sixteen_path)
happiness_17_df = pd.read_csv(seventeen_path)
country_df = pd.read_csv(country_path)
country_location_df = pd.read_csv(country_location_path)

In [6]:
country_location_df.head()

   Unnamed: 0  Unnamed: 0.1      country  country_id        Lat        Lng
0           0             0  Afghanistan           1  33.939110  67.709953
1           1             1      Albania           2  41.153332  20.168331
2           2             2      Algeria           3  28.033886   1.659626
3           3             3       Angola           4 -11.202692  17.873887
4           4             4    Argentina           5 -38.416097 -63.616672

In [7]:
country_lat_dict = {}
country_long_dict = {}
for index,row in country_location_df.iterrows():
    country_name = row['country']
    country_lat = row['Lat']
    country_long = row['Lng']
    country_lat_dict[country_name] = country_lat
    country_long_dict[country_name] = country_long

In [10]:
happiness_15_df['Latitude'] =""
happiness_16_df['Latitude'] =""
happiness_17_df['Latitude'] =""
country_df['Latitude'] =""
happiness_15_df['Longitude'] =""
happiness_16_df['Longitude'] =""
happiness_17_df['Longitude'] =""
country_df['Longitude'] =""

In [17]:
def add_lat_long(df):
    for index,row in df.iterrows() :
        try:
            df.loc[index,'Latitude'] = country_lat_dict.get(row['Country'])
            df.loc[index,'Longitude'] = country_long_dict.get(row['Country'])
        except:
            continue

In [18]:
add_lat_long(happiness_15_df)
add_lat_long(happiness_16_df)
add_lat_long(happiness_17_df)
add_lat_long(country_df)

In [19]:
happiness_15_df.to_csv(os.path.join('data','csv','happiness_2015.csv'))
happiness_16_df.to_csv(os.path.join('data','csv','happiness_2016.csv'))
happiness_17_df.to_csv(os.path.join('data','csv','happiness_2017.csv'))
country_df.to_csv(os.path.join('data','csv','countries.csv'))