In [1]:
# Dependencies
import requests
import json
import os
import pandas as pd
import numpy as np


# Google developer API key
gkey = os.getenv("GKEY")

In [2]:
# import data from countries csv
countries = pd.read_csv("csv/countries.csv")

In [3]:
countries.head()

   Unnamed: 0      country  country_id
0           0  Afghanistan           1
1           1      Albania           2
2           2      Algeria           3
3           3       Angola           4
4           4    Argentina           5

In [5]:
countries["Lat"] = ""
countries["Lng"] = ""
countries.head()

   Unnamed: 0      country  country_id Lat Lng
0           0  Afghanistan           1
1           1      Albania           2
2           2      Algeria           3
3           3       Angola           4
4           4    Argentina           5

In [6]:
def google_api_request(url, params=None):
    params = params or {}
    params['key'] = gkey
    result = requests.get(url, params=params).json()
    if 'error_message' in result:
        raise Exception(result['error_message'])
    return result['results']

def geocode_results(address):
    return google_api_request('https://maps.googleapis.com/maps/api/geocode/json', params={
        'address': address,
    })

def place_results(lat, lng, radius=8000, place_type=None, keyword=None, rankby=None):
    params = {
        'location': f"{lat},{lng}",
        'radius': radius,
    }
    if place_type:
        params['type'] = place_type
    if keyword:
        params['keyword'] = keyword
    if rankby:
        params['rankby'] = rankby
        del params['radius']
    return google_api_request('https://maps.googleapis.com/maps/api/place/nearbysearch/json', params)

In [8]:
for index, row in countries.iterrows():
    city = row['country']
    results = geocode_results(f"{city}")

    countries.loc[index, "Lat"] = results[0]["geometry"]["location"]["lat"]
    countries.loc[index, "Lng"] = results[0]["geometry"]["location"]["lng"]

In [9]:
countries.head()

   Unnamed: 0      country  country_id      Lat      Lng
0           0  Afghanistan           1  33.9391    67.71
1           1      Albania           2  41.1533  20.1683
2           2      Algeria           3  28.0339  1.65963
3           3       Angola           4 -11.2027  17.8739
4           4    Argentina           5 -38.4161 -63.6167

In [10]:
countries.columns

Index(['Unnamed: 0', 'country', 'country_id', 'Lat', 'Lng'], dtype='object')

In [11]:
countries.drop(columns = ['Unnamed: 0'],axis=1)

                      country  country_id      Lat       Lng
0                 Afghanistan           1  33.9391     67.71
1                     Albania           2  41.1533   20.1683
2                     Algeria           3  28.0339   1.65963
3                      Angola           4 -11.2027   17.8739
4                   Argentina           5 -38.4161  -63.6167
5                     Armenia           6  40.0691   45.0382
6                   Australia           7 -25.2744   133.775
7                     Austria           8  47.5162   14.5501
8                  Azerbaijan           9  40.1431   47.5769
9                     Bahrain          10  26.0667   50.5577
10                 Bangladesh          11   23.685   90.3563
11                    Belarus          12  53.7098   27.9534
12                    Belgium          13  50.5039   4.46994
13                     Belize          14  17.1899  -88.4976
14                      Benin          15  9.30769   2.31583
15                     Bhutan          16  27.5142   90.4336
16                    Bolivia          17 -16.2902  -63.5887
17     Bosnia and Herzegovina          18  43.9159   17.6791
18                   Botswana          19 -22.3285   24.6849
19                     Brazil          20  -14.235  -51.9253
20                   Bulgaria          21  42.7339   25.4858
21               Burkina Faso          22  12.2383  -1.56159
22                    Burundi          23 -3.37306   29.9189
23                   Cambodia          24  12.5657   104.991
24                   Cameroon          25  7.36972   12.3547
25                     Canada          26  56.1304  -106.347
26   Central African Republic          27  6.61111   20.9394
27                       Chad          28  15.4542   18.7322
28                      Chile          29 -35.6751   -71.543
29                      China          30  35.8617   104.195
..                        ...         ...      ...       ...
136                     Spain         137  40.4637  -3.74922
137                 Sri Lanka         138  7.87305   80.7718
138                     Sudan         139  12.8628   30.2176
139                  Suriname         140  3.91931  -56.0278
140                 Swaziland         141 -26.5225   31.4659
141                    Sweden         142  60.1282   18.6435
142               Switzerland         143  46.8182   8.22751
143                     Syria         144  34.8021   38.9968
144                    Taiwan         145  23.6978   120.961
145  Taiwan Province of China         146  23.6978   120.961
146                Tajikistan         147   38.861   71.2761
147                  Tanzania         148 -6.36903   34.8888
148                  Thailand         149    15.87   100.993
149                      Togo         150  8.61954  0.824782
150       Trinidad and Tobago         151  10.6918  -61.2225
151                   Tunisia         152  33.8869    9.5375
152                    Turkey         153  38.9637   35.2433
153              Turkmenistan         154  38.9697   59.5563
154                    Uganda         155  1.37333   32.2903
155                   Ukraine         156  48.3794   31.1656
156      United Arab Emirates         157  23.4241   53.8478
157            United Kingdom         158  55.3781  -3.43597
158             United States         159  37.0902  -95.7129
159                   Uruguay         160 -32.5228  -55.7658
160                Uzbekistan         161  41.3775   64.5853
161                 Venezuela         162  6.42375  -66.5897
162                   Vietnam         163  14.0583   108.277
163                     Yemen         164  15.5527   48.5164
164                    Zambia         165 -13.1339   27.8493
165                  Zimbabwe         166 -19.0154   29.1549

[166 rows x 4 columns]